.n, [17.02.2024 0:06]
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanban Доска</title>
    <link rel="stylesheet" href="./src/assets/main.css">
</head>
<body>
<div id="app" class="app">
    <div class="column" id="column1">
        <h2>Запланированные задачи</h2>
        <div v-for="(task, index) in plannedTasks" :key="task.created">
            <div class="task-card">
                <h3>{{ task.title }}</h3>
                <p>{{ task.description }}</p>
                <p>Дата создания: {{ task.created }}</p>
                <p>Дедлайн: {{ task.deadline }}</p>
                <p>Последнее редактирование: {{ task.lastEdited }}</p>
                <button @click="editTaskForm(index)">Редактировать</button>
                <button @click="deleteTask('planned', index)">Удалить</button>
                <button @click="moveTask(task)">В работу</button>
            </div>
        </div>
    </div>

    <!-- Форма редактирования задачи -->
    <div v-if="editingTask !== null" class="edit-form">
        <h2>Редактирование задачи</h2>
        <div class="form-group">
            <label for="editTaskTitle">Название:</label>
            <input type="text" id="editTaskTitle" v-model="editedTask.title">
        </div>
        <div class="form-group">
            <label for="editTaskDescription">Описание:</label>
            <textarea id="editTaskDescription" v-model="editedTask.description"></textarea>
        </div>
        <div class="form-group">
            <label for="editTaskDeadline">Дедлайн:</label>
            <input type="text" id="editTaskDeadline" v-model="editedTask.deadline" disabled>
        </div>
        <button @click="saveEditedTask">Сохранить</button>
        <button @click="cancelEditTask">Отмена</button>
    </div>

    <div class="column" id="column2">
        <h2>Задачи в работе</h2>
        <div v-for="(task, index) in inProgressTasks" :key="task.created">
            <div class="task-card">
                <h3>{{ task.title }}</h3>
                <p>{{ task.description }}</p>
                <p>Дата создания: {{ task.created }}</p>
                <p>Дедлайн: {{ task.deadline }}</p>
                <p>Последнее редактирование: {{ task.lastEdited }}</p>
                <button @click="editTaskForm(index)">Редактировать</button>
                <button @click="deleteTask('inProgress', index)">Удалить</button>
                <button @click="moveTask(task)">Передать в тестирование</button>
            </div>
        </div>
    </div>
    <div class="column" id="column3">
        <h2>Тестирование</h2>
        <div v-for="(task, index) in testingTasks" :key="task.created">
            <div class="task-card">
                <h3>{{ task.title }}</h3>
                <p>{{ task.description }}</p>
                <p>Дата создания: {{ task.created }}</p>
                <p>Дедлайн: {{ task.deadline }}</p>
                <p>Последнее редактирование: {{ task.lastEdited }}</p>
                <button @click="editTaskForm(index)">Редактировать</button>
                <button @click="deleteTask('testing', index)">Удалить</button>
                <button @click="moveTask(task)">Передать в выполненные</button>
            </div>
        </div>
    </div>
    <div class="column" id="column4">
        <h2>Выполненные</h2>
        <div v-for="(task, index) in completedTasks" :key="task.created">
            <div class="task-card" :class="{ overdue: task.deadlineNoPassed }">
                <h3>{{ task.title }}</h3>
                <p>{{ task.description }}</p>
                <p>Дата создания: {{ task.created }}</p>
                <p>Дедлайн: {{ task.deadline }}</p>
                <p v-if="task.deadlineNoPassed">Статус: Просроченная</p>
                <p v-else>Статус: Выполненная в срок</p>

                .n, [17.02.2024 0:06]
                <p>Последнее редактирование: {{ task.lastEdited }}</p>
                <button @click="deleteTask('completed', index)">Удалить</button>
                <button @click="removeTask(task)">Передать в тестирование</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="taskTitle">Заголовок:</label>
        <input type="text" id="taskTitle" v-model="newTaskTitle">
    </div>
    <div class="form-group">
        <label for="taskDescription">Описание:</label>
        <textarea id="taskDescription" v-model="newTaskDescription"></textarea>
    </div>
    <div class="form-group">
        <label for="taskDeadline">Дедлайн:</label>
        <input type="date" id="taskDeadline" v-model="newTaskDeadline">
    </div>
    <button @click="addTask('planned')">Добавить задачу</button>
</div>

<script src="./src/vue.js"></script>
<script src="./src/main.js"></script>
</body>
</html>